<div class="wrapper">
  <div class="genderPicker">
    <button class="genderBtn" (click)="getTheBestWeather('male')">Male</button>
    <button class="genderBtn" (click)="getTheBestWeather('female')">Female</button>
  </div> 
  <spinner backgroundColor="#ff0000" spinner="sk-wave"></spinner>
  <virtual-scroll [items]="cities" (update)="viewPortItems = $event">
      <ng-template ngFor let-item [ngForOf]="viewPortItems">
        <div class="cityContainer">
          <city [city]=item
                [date]=date ></city>
        </div>
      </ng-template>
    </virtual-scroll>
</div>